@charset 'utf-8';


.btn-center{
	text-align:center;
}

.logout {
	background-color: #fff;
	border:solid 2px #5662be;
	padding:5px 5px 5px 5px;
	letter-spacing:2px;
	font-size:12px;
	border-radius: 4px;
	cursor:pointer;
}
.logout:hover {
	color:#fd7e14;
}

.btn_type1_txt{
	display:inline-block;
	padding-top:5px;
}

.btn_type1_txt a:hover{
	color:#eb6900;
	text-decoration:none;
}



/* 탭메뉴 on TYPE */
.m-tab-on{
	float:left;
	height:100%;
}

.m-tab-on-l{
	float:left;
	padding:15px 0 0 20px;
	border-bottom: #545150 solid 2px;
	height:34px;
}

.m-tab-on-c{
	float:left;
	border-right: #e7e7e7 solid 1px;
	border-bottom: #5662be solid 2px;
	padding:15px 20px 0 0;
	height:34px;
	line-height:20px;
}

.m-tab-on .m-tab-on-c img{
	vertical-align:middle;
	margin-left:10px;
}

.m-tab-on .m-tab-on-c a{
	text-decoration:none;
	color:#000;
	font-weight:bold;
	font-size:13px;
	font-family: '맑은 고딕', '고딕', '돋움', Dotum, Sans-Serif;
	line-height:16px;
}



/* 탭메뉴 off TYPE */
.m-tab-off{
	float:left;
}

.m-tab-off-l{
	float:left;
	padding-left:20px;
	padding:15px 0 0 20px;
	height:36px;
}

.m-tab-off-c{
	float:left;
	border-right: #e7e7e7 solid 1px;
	padding:15px 20px 0 0;
	height:36px;
	line-height:20px;
}


.m-tab-off .m-tab-off-c a{
	text-decoration:none;
	color:#5662be;
	font-size:13px;
	font-family: '맑은 고딕', '고딕', '돋움', Dotum, Sans-Serif;
	line-height:16px;
}


/* TYPE2 */

.btn_type2_left{
	background: url("/_admin/_images/btn/btn_type9_left.gif") no-repeat 0 1px;
	display: inline-block;
	height: 23px;
	margin: 0 -4px -7px 0;
	*margin:0 0 -3px 0;
	_margin:0 0 -5px 0;
	width: 13px;
}

.btn_type2_con{
	background:url('/_admin/_images/btn/btn_type9_con.gif') repeat-x right 0;
	height:21px;
	padding:0 13px 0 5px;
	display:inline-block;
}

.btn_type2_txt{
	display:inline-block;
	padding-top:5px;
}

.btn_type2_con .btn_type2_txt a{
	color:#3e3e3d;
}

.btn_type2_txt a:hover{
	color:#5400ff;
	text-decoration:none;
}

/* TYPE3 */

.btn_type3_left{
	background: url("/_admin/_images/btn/btn_type15_left.gif") no-repeat 0 1px;
	display: inline-block;
	height: 23px;
	margin: 0 -4px -7px 0;
	*margin:0 0 -3px 0;
	_margin:0 0 -5px 0;
	width: 13px;
}

.btn_type3_con{
	background:url('/_admin/_images/btn/btn_type15_con.gif') repeat-x right 0;
	height:21px;
	padding:0 13px 0 5px;
	display:inline-block;
}

.btn_type3_txt{
	display:inline-block;
	padding-top:5px;
}

.btn_type3_con .btn_type3_txt a{
	color:#3a7d9c;
}

.btn_type3_txt a:hover{
	color:#00d8ff;
	text-decoration:none;
}