<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:text="${testStR}"></div>
    <table>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.age}"></td>
            <td>
                <p th:if="${student.age} > 15">청년 또는 성인 입니다.</p>
                <p th:unless="${student.age} > 15">소년 입니다.</p>
            </td>
        </tr>
    </table>
</body>
</html>